<div class="impression-box">
  <ul class="clearfix">
    <li class="categoryGrid" id="picture">
      <img src="<%= tweet.images[0].image %>">
      <div class="category-box">
      <p class="category"><%= tweet.category %></p>
      </div>
      <p class="place"><%= tweet.place %></p>
    </li>
  </ul>
</div>