<div class="rank-contents">
  <div class="rank-3contents">
    <% @rank.each_with_index do |rank, i| %>
      <ul>
        <li><img src="<%= rank.images[0].image %>" ></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="main_box">
  <%= image_tag 'japan-icon.jpg' %>
    <%= render @tweets %>
</div>

<footer class="clearfix">
 <p> copy right@tokyo</p>
</footer>
