<div class="rank-contents">
  <p>ここはランキングを入れます</p>
</div>

<div class="main_box">
  <%= image_tag 'japan-icon.jpg' %>
    <%= render @tweets %>
</div>

<footer class="clearfix">
 <p> copy right@tokyo</p>
</footer>
