<div>

  <%= form_tag('/japans', :method => :post, :multipart => true ) do %>

      <h3> 投稿する</h3>
    <input placegolder= "Place" type="string" name ="place">
    <input placeholder = "Category" type="text" name="category">
    <input type="file" name="image">
    <input type="submit" value="SENT">
  <% end %>
</div>